{% extends 'blogs/base.html' %}

{% block page_header %}

  <div class="jumbotron">
      <h1 class="display-3">
          Welcome to Everyone's Blog.
      </h1>

      <p class="lead">In Everyone's blog, you have access to your information and those made public by others. You can choose to make it your own post public if you want. Are you currently sharpening your writing skills? or you are just fond of writing?. Say no more, this blog is for you. 
      </p>

      <a class="btn btn-lg btn-primary" href="{% url 'users:register' %}" role="button">Register &raquo;</a>
  </div>

{% endblock page_header %}

{% block content %}

  <p><a href="{% url 'blogs:new_blog' %}">Add a new post</a></p>


  {% for blog in blogs %}
    <div class="card mb-3">
      <h4 class="card-header">
        {{ blog }} - 
        <small><a href="{% url 'blogs:edit_blog' blog.id %}">edit post</a></small>
      </h4>
      <div class="card-body">
        {{ blog.text|linebreaks }}
      </div>
    </div>
  {% empty %}
    <p>There are no posts for this blog yet.</p>
  {% endfor %}
    

{% endblock content %}